<div class="searchForm">
  <form class="search-form" id="search-form">
    <input type="text" name="searchQuery" autocomplete="off" placeholder="Search images..." />
    <button class="submitButton button-23" role="button" type="submit">Search</button>
  </form>
</div>


<div class="gallery">
  <!-- Карточки изображений -->
</div>

<div class="bottomElements">
<button type="button" class="load-more button-37 is-hidden">Load more</button>

<div class="endText is-hidden">
  <p>"We're sorry, but you've reached the end of search results."</p>
</div>
</div>



